# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints

# Distribution / packaging
*.egg-info/
dist/
build/

# Data and model files
/dataset/
/data/
*.h5
*.hdf5
*.ckpt
*.pb

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
